/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

#menu {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

.divForm {
  display: flex;
  justify-content: space-between;
}

/* -------  About ------- */

#about {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#about img {
  width: 100%;
}

/* -------  Ideas ------- */

#ideas img {
  width: 100%;
}

/* -------  Host  ------- */

#host img {
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: white;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
@media all and (min-width: 480px) {

  /* ------- Desktop Navigation ------- */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 20px;
  }

  .logo {
    font-size: 30px;
  }

  /* ------- Desktop Search-Form ------- */

  form {
    display: flex;
    gap: 20px;
  }

  form div,
  form button {
    width: 20%;
    font-size: 15px;
  }

  .divForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  form input,
  form select {
    width: 70%
  }

  /* ------- Desktop About ------- */

  #about div {
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  #about img {
    width: 25%;

  }


  /* ------- Desktop Ideas ------- */

  .row {
    display: flex;
    gap: 10px;
  }

  .col {
    flex: 1
  }

  /* ------- Desktop Host ------- */

  #host {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
  }

  #host img,
  #host div {
    flex: 1
  }

}



@media all and (max-width: 380px) {
  /* ------- Desktop Navigation ------- */

  header {
    overflow: hidden;
    ;
  }


  .logo {
    display: flex;
    font-size: 60px;
    justify-content: center;
    text-size-adjust: auto;
  }

  /* ------- Desktop Search-Form ------- */
  form select,
  form input {
    margin-bottom: 20px;
    width: 50%;
  }
}
